

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transition: .3s ease;
  background-color: black;
}

img.conimgdefondo
{
  opacity: 0.5;
}

h1.blanco
{
color: white;
text-shadow: 2px 2px #000000;
font-size: 10vh;
text-align: center;
}

/* .conimgdefondo{
 background-image: url('/imgs/fondo-chicos-hackaton-oscurecida.jpg');
 background-color: #000000;
 opacity: 0.8;
 background-size: cover;
 background-repeat: no-repeat;
} */

ul.tarjeta
{
  overflow: hidden;
}
li.especial
{
float: left;
list-style-type:none;
margin-left: 0px;
margin-right: auto;
padding-left: 30px;
}

div.contenedor
{
  width:85%;
margin: 0 auto;
}


hr.separador-h{
 margin-top:0px;
 margin-bottom:0px;
 height:1px;
 width:100%;
 border-top:10px solid gray;
}

hr.separador-h-success{
 margin-top:0px;
 margin-bottom:0px;
 height:1px;
 width:100%;
 border-top:10px solid green;
}

.card-centrada {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}




.jumbotron-confondo {
background-image: url(/imgs/patron2.jpg);
background-size: cover;
/* height: 100%; */

}

.conimagenoscurecida {
background-image: url(/imgs/fondo-chicos-hackaton-oscurecida.jpg);
background-size: cover;
height: 180px;
}


.btn-success-azul
{
background-color: #0F5D9E;
color: #FFFFFF;
}
